# General information
BNAME = 'bucketName' # As is in the cloudflare dashboard
URL = 'domain' # Is required a public or custom domain seted

# Provided by creating a new cloudflare bucket API
ACCESSKEY = 'API access key (32char)'
SECRETKEY = 'API secret key (64char)'
ENDPOINT = 'API endpoint (https://API-ID.r2.cloudflarestorage.com)'

# Save options
SAVEPATH = './saveFiles' #Change the location to wherever you want to save your JSON files
CREATEFOLDERS = 'false' #Boolean - Change to true if you want to allow the script to create new folders to store your json files